<header class="border-bottom bg-white">
  <div class="container-fluid py-2">
    <div class="row align-items-center">

      <!-- LOGO + CATEGORIAS -->
      <div class="col-md-3 d-flex align-items-center gap-3">

        <!-- LOGO -->
        <a href="/dev/loja-virtual/public/" class="text-decoration-none text-dark">
          <h4 class="m-0 fw-bold">MinhaLoja</h4>
        </a>

        <!-- BOTÃO CATEGORIAS -->
        <div class="dropdown">
          <button class="btn d-flex align-items-center gap-2" data-bs-toggle="dropdown">
            <i class="bi bi-list"></i>
            Categorias
          </button>

          <ul class="dropdown-menu shadow" style="width:220px;">
            {% for categoria in categorias() %}
            <li>
              <a class="dropdown-item" data-id="{{categoria.id}}"
                href="/dev/loja-virtual/public/categoria/{{categoria.nome}}">
                {{categoria.nome}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>

      <!-- BUSCA -->
      <div class="col-md-6">
        <form action="/dev/loja-virtual/public/busca" method="GET">
          <div class="input-group">
            <input type="search" name="b" class="form-control" placeholder="Buscar produtos...">
            <button class="btn btn-primary">Buscar</button>
          </div>
        </form>
      </div>

      <!-- AÇÕES -->
      <div class="col-md-3 d-flex justify-content-end align-items-center gap-4">

        <!-- LOGIN -->
        <div id="login" class="col-md-3 d-flex justify-content-end align-items-center gap-4">
          <!-- USUÁRIO LOGADO -->

        </div>

        <!-- CARRINHO -->
        <a href="/dev/loja-virtual/public/carrinho" id="botaoCarrinho" class="btn position-relative" type="button">

          <i class="bi bi-cart3" style="font-size:1.7rem;"></i>

          <!-- contador -->
          <span class="badge-carrinho position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          </span>

        </a>



      </div>

    </div>
  </div>
</header>