<div  class="container">
    {% set breadcrumb = breadCrumb() %}
    {% if breadcrumb|length > 1 %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:history.back()">Voltar</a></li>
            {% set i=0 %}
            {% for breadCrumb in breadCrumb() %}
                <li class="breadcrumb-item" aria-current="page"><a href="{{ breadCrumb.link }}">{{ breadCrumb.nome }}</a></li>
            {% set i = i+1 %}
            {% endfor %}
        </ol>
    </nav>
    {% endif %}
</div>