{% extends 'layout.html' %}


{% block site_content %}
<div class="container">
    <h1>Carrinho</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Remover Produto</th>
            </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
        <tfoot id="tfoot">
            
        </tfoot>
    </table>
    <div >
    <button type="button" class="finalizar-compra btn btn-primary btn-lg">
        Finalizar Compra
    </button>
</div>
</div>

<script src="{{ site_url() }}/assets/js/site_carrinho.js"></script>

{% endblock %}